**/*.idea
**/*.iml
**/target
**/audit.log
**/.DS_Store
**/*.transformed.yaml
apps/k8s/ksonnet/myapp/environments/**/
apps/ecs/ecs-cli/ecs-cluster.*
apps/ecs/ecs-cli/webapp/ecs-params_webapp.yml
apps/ecs/ecs-cli/greeting/ecs-params_greeting.yml
apps/ecs/ecs-cli/name/ecs-params_name.yml
readme.html
