Service Availability 

    - This is intended for US-EAST-1 only since Fargate is available only in this region

Software Requirements:

    - This will work only in *nix type of OS

Tools needed:

    awscli - Setup Default Profile.  Must have administrator rights - https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html

    ecscli - https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ECS_CLI.html

    jq - https://github.com/stedolan/jq/wiki/Installation

    perl - https://www.perl.org/get.html 

